
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
        server:
            webflux:
                routes:
                  - id: user-service
                    uri: lb://user-service
                    predicates:
                      - Path=/users/** 
                    # filters:
                    #   - name: CircuitBreaker
                    #     args:
                    #       name: userServiceCircuitBreaker
                    #       fallbackUri: forward:/fallback
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8080
logging:
    level:
        root: INFO
        '[com.github.jvalsesia.apigateway]': DEBUG
management:
    endpoints:
        web:
            exposure:
                include: "*"