spring:
    application:
        name: user-service
    datasource:
        url: jdbc:postgresql://localhost:5432/userdb
        username: user
        password: seccret
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update   
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
server:
    port: 8081
logging:
    level:
        root: INFO
        '[com.github.jvalsesia.userservice]': DEBUG
management:
    endpoints:
        web:
            exposure:
                include: "*"